# Objected Oriented Programming Project-2

## Israa Atike (D00262160)

1- Data scraping from the internet:

The website I decided to scrape is called Morgan Mcinley, it is an irish website that presents jobs all over Ireland.

The below code will scrape the job titles, the locations, the job types, the salaries, and the date when the job was posted, I could not scrape the company name, since the website does not provide that, since it is an agency that you can use its wesbite to apply directly to jobs.

In the below code I used the library selenuim, since the website was hard to scrape, the only solution was to use selenuim so that I can scrape the data from a virtual browser.

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd

class JobScraper:
    def __init__(self):
        self.job_titles = []
        self.locations = []
        self.job_types = []
        self.salaries = []
        self.posted_dates = []
    
    def scrape_jobs(self, num_pages=50):
        service = Service(ChromeDriverManager().install())
        driver = webdriver.Chrome(service=service)
        
        for i in range(1, num_pages+1):
            url = f'https://www.morganmckinley.com/ie/jobs?keyword=Data%20Science&country=Ireland&location=&industry=&type=&lang=en&salary=&minsalary=&maxsalary=&category=&uuid=&sub_discipline_name=&qtime=1706382800&page={i}'
            driver.get(url)

            page = driver.page_source
            soup = BeautifulSoup(page, 'html.parser')

            self.job_titles.extend([h5.text.strip() for h5 in soup.find_all('h5')])

            for job_listing in soup.find_all('div', class_='job-list-summary'):
                location = job_listing.find('li', class_='lj-location').text.strip() 
                job_type = job_listing.find('li', class_='lj-type').text.strip()
                salary = job_listing.find('li', class_='lj-salary').text.strip()
                posted_date = job_listing.find('li', class_='lj-posted-on').text.strip()

                self.locations.append(location)
                self.job_types.append(job_type)
                self.salaries.append(salary)
                self.posted_dates.append(posted_date)

        
        driver.quit()
        print("Scraping complete.")
    
    def create_dataframe(self):
        jobs_data = {
            'Job Title': self.job_titles,
            'Location': self.locations,
            'Job Type': self.job_types,
            'Salary': self.salaries,
            'Posted Date': self.posted_dates
        }
        df = pd.DataFrame(jobs_data)
        print("DataFrame created.")
        return df


job_scraper = JobScraper()
job_scraper.scrape_jobs()
df = job_scraper.create_dataframe()
print(df)

Scraping complete.
DataFrame created.
                                             Job Title      Location  \
0     Data Engineer - Analyst (12 month contract Cork)     Cork City
1                                         Data Analyst          Cork
2                                         Data Analyst          Cork
3                                   Data Administrator          Cork
4                                   Data Administrator          Cork
..                                                 ...           ...
292                                HR Business Partner  Dublin South
293  Vendor Management Associate- High Escalation R...        Dublin
294                                       PPM PMO Lead        Dublin
295                      Deposit and Insurance Advisor     Blackrock
296                      Strategic Key Account Manager        Dublin

      Job Type        Salary   Posted Date
0    Permanent   Competitive  Jan 05, 2024
1    Permanent   Competitive  Dec 22, 2023
2    Permanent   Competitive  Feb 01, 2024
3    Temporary  €20k​ - €30k  Jan 02, 2024
4    Temporary   Competitive  Jan 04, 2024
..         ...           ...           ...
292  Permanent   €40k - €50k  Jan 23, 2024
293   Contract   Competitive  Jan 09, 2024
294  Permanent   Competitive  Jan 16, 2024
295  Permanent   Competitive  Jan 30, 2024
296  Permanent   Competitive  Jan 09, 2024

[297 rows x 5 columns]

2- Data cleaning:

In the below code I added a column to my dataframe called company, and I named all rows Morgan McKinley, since it is the agency that provides all the jobs.

In [2]:
import pandas as pd

df['Company Name'] = 'Morgan McKinley'
print(df)

                                             Job Title      Location  \
0     Data Engineer - Analyst (12 month contract Cork)     Cork City
1                                         Data Analyst          Cork
2                                         Data Analyst          Cork
3                                   Data Administrator          Cork
4                                   Data Administrator          Cork
..                                                 ...           ...
292                                HR Business Partner  Dublin South
293  Vendor Management Associate- High Escalation R...        Dublin
294                                       PPM PMO Lead        Dublin
295                      Deposit and Insurance Advisor     Blackrock
296                      Strategic Key Account Manager        Dublin

      Job Type        Salary   Posted Date     Company Name
0    Permanent   Competitive  Jan 05, 2024  Morgan McKinley
1    Permanent   Competitive  Dec 22, 2023  Morgan McKinley
2    Permanent   Competitive  Feb 01, 2024  Morgan McKinley
3    Temporary  €20k​ - €30k  Jan 02, 2024  Morgan McKinley
4    Temporary   Competitive  Jan 04, 2024  Morgan McKinley
..         ...           ...           ...              ...
292  Permanent   €40k - €50k  Jan 23, 2024  Morgan McKinley
293   Contract   Competitive  Jan 09, 2024  Morgan McKinley
294  Permanent   Competitive  Jan 16, 2024  Morgan McKinley
295  Permanent   Competitive  Jan 30, 2024  Morgan McKinley
296  Permanent   Competitive  Jan 09, 2024  Morgan McKinley

[297 rows x 6 columns]

Type of each column:

In the below code, I tried to find the type of each column, all of them seem to be right expect the date one that should not be a string and we should turn it into a date and time instead, for the salary I will leave that as string since for most jobs they do not specify the salary the only specification is competitive, and when they do specifiy it they give that as a range, thus I will leave it as a string.

In [3]:
variable = df.keys()
for var in variable:
    print(var,type(df[var][0]))

Job Title <class 'str'>
Location <class 'str'>
Job Type <class 'str'>
Salary <class 'str'>
Posted Date <class 'str'>
Company Name <class 'str'>

Checking missing data:

In the below code, the I tried to check if there is any missing data in the columns, so that I clean that, but my dataframe did not have any missing data.

In [4]:
total_miss = df.isnull().sum()
percent_miss = (total_miss/df.isnull().count()*100)
missing_data = pd.DataFrame({'Total missing':total_miss,'% missing':percent_miss})
missing_data.sort_values(by='Total missing',ascending=False).head()
print(missing_data)

              Total missing  % missing
Job Title                 0        0.0
Location                  0        0.0
Job Type                  0        0.0
Salary                    0        0.0
Posted Date               0        0.0
Company Name              0        0.0

The below code will turn the posted date column from a string to a date time class.

In [5]:
from datetime import datetime

df['Posted Date'] = [datetime.strptime(date_str, '%b %d, %Y') for date_str in df['Posted Date']]

df = pd.DataFrame(df)

print(df)

                                             Job Title      Location  \
0     Data Engineer - Analyst (12 month contract Cork)     Cork City
1                                         Data Analyst          Cork
2                                         Data Analyst          Cork
3                                   Data Administrator          Cork
4                                   Data Administrator          Cork
..                                                 ...           ...
292                                HR Business Partner  Dublin South
293  Vendor Management Associate- High Escalation R...        Dublin
294                                       PPM PMO Lead        Dublin
295                      Deposit and Insurance Advisor     Blackrock
296                      Strategic Key Account Manager        Dublin

      Job Type        Salary Posted Date     Company Name
0    Permanent   Competitive  2024-01-05  Morgan McKinley
1    Permanent   Competitive  2023-12-22  Morgan McKinley
2    Permanent   Competitive  2024-02-01  Morgan McKinley
3    Temporary  €20k​ - €30k  2024-01-02  Morgan McKinley
4    Temporary   Competitive  2024-01-04  Morgan McKinley
..         ...           ...         ...              ...
292  Permanent   €40k - €50k  2024-01-23  Morgan McKinley
293   Contract   Competitive  2024-01-09  Morgan McKinley
294  Permanent   Competitive  2024-01-16  Morgan McKinley
295  Permanent   Competitive  2024-01-30  Morgan McKinley
296  Permanent   Competitive  2024-01-09  Morgan McKinley

[297 rows x 6 columns]

3- Storing the data into a database:

The below code will create a database called israa_project2_oop.

In [45]:
import mysql.connector as mysql

try:
    conn = mysql.connect(host="localhost", user="root", password="")
    cursor = conn.cursor()

    cursor.execute("CREATE DATABASE IF NOT EXISTS israa_project2_oop")

    print("Database 'israa_project2_oop' created successfully.")

except mysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))
finally:
    if 'conn' in locals() or 'conn' in globals():
        conn.close()

Database 'israa_project2_oop' created successfully.

The below code will create the table called jobs and populate it with the data that we scraped.

After normalising my data I ended up with 3 tables jobs, companies and job_types since for the column company we have the same company that is repeating, and for job type we have 3 types of jobs repeating, which are Permanent, Temporary, and contract.

In [46]:
import mysql.connector as mysql
from sqlalchemy import create_engine
import pandas as pd

try:
    conn = mysql.connect(host="localhost", user="root", password="", database="israa_project2_oop")
    cursor = conn.cursor()

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS companies (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255)
    )
    """)

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS job_types (
        id INT AUTO_INCREMENT PRIMARY KEY,
        type VARCHAR(50)
    )
    """)

    cursor.execute("""
    CREATE TABLE IF NOT EXISTS jobs (
        id INT AUTO_INCREMENT PRIMARY KEY,
        job_title VARCHAR(255),
        location VARCHAR(255),
        salary VARCHAR(50),
        posted_date DATE,
        company_id INT,
        job_type_id INT,
        FOREIGN KEY (company_id) REFERENCES companies(id),
        FOREIGN KEY (job_type_id) REFERENCES job_types(id)
    )
    """)

    cursor.execute("INSERT INTO companies (id, name) VALUES (666, 'Morgan McKinley')")

    job_types_mapping = {
        'Permanent': 777,
        'Temporary': 999,
        'Contract': 888
    }

    for job_type, job_type_id in job_types_mapping.items():
        cursor.execute("INSERT INTO job_types (id, type) VALUES (%s, %s)", (job_type_id, job_type))


    for _, row in df.iterrows():
        posted_date_str = row['Posted Date'].strftime('%Y-%m-%d')
        
        company_id = 666

        job_type_id = job_types_mapping.get(row['Job Type'])

        cursor.execute("""
        INSERT INTO jobs (job_title, location, salary, posted_date, company_id, job_type_id) 
        VALUES (%s, %s, %s, %s, %s, %s)
        """, (row['Job Title'], row['Location'], row['Salary'], posted_date_str, company_id, job_type_id))

    conn.commit()

    cursor.execute("""
    SELECT jobs.*, companies.name AS company_name, job_types.type AS job_type
    FROM jobs
    JOIN companies ON jobs.company_id = companies.id
    JOIN job_types ON jobs.job_type_id = job_types.id
    """)
    for row in cursor.fetchall():
        print(row)

except mysql.Error as e:
    print("Error %d: %s" % (e.args[0], e.args[1]))
finally:
    if 'conn' in locals() or 'conn' in globals():
        conn.close()

(1, 'Data Engineer - Analyst (12 month contract Cork)', 'Cork City', 'Competitive', datetime.date(2024, 1, 5), 666, 777, 'Morgan McKinley', 'Permanent')
(2, 'Data Analyst', 'Cork', 'Competitive', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(3, 'Data Analyst', 'Cork', 'Competitive', datetime.date(2024, 2, 1), 666, 777, 'Morgan McKinley', 'Permanent')
(4, 'Data Administrator', 'Cork', '€20k\u200b - €30k', datetime.date(2024, 1, 2), 666, 999, 'Morgan McKinley', 'Temporary')
(5, 'Data Administrator', 'Cork', 'Competitive', datetime.date(2024, 1, 4), 666, 999, 'Morgan McKinley', 'Temporary')
(6, 'Data Analyst', 'Cork', 'Competitive', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(7, 'Data Entry Clerk', 'Cork City', 'Competitive', datetime.date(2024, 1, 3), 666, 999, 'Morgan McKinley', 'Temporary')
(8, 'Director, Consulting Data and Analytics', 'Dublin', 'Competitive', datetime.date(2024, 2, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(9, 'Data Architect (12 month contract Cork)', 'Cork City', 'Competitive', datetime.date(2024, 2, 13), 666, 888, 'Morgan McKinley', 'Contract')
(10, 'Data Protection Manager (with Legal background preferably)', 'Dublin City Centre', 'Competitive', datetime.date(2024, 2, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(11, 'Bi Developer (6 month contract Cork)', 'Cork City', 'Competitive', datetime.date(2024, 2, 2), 666, 888, 'Morgan McKinley', 'Contract')
(12, 'Power BI Developer (Contract )', 'Cork', 'Competitive', datetime.date(2024, 1, 19), 666, 888, 'Morgan McKinley', 'Contract')
(13, 'Automation Engineer', 'Dublin', 'Competitive', datetime.date(2024, 1, 29), 666, 888, 'Morgan McKinley', 'Contract')
(14, 'QA Analyst - Contract', 'Tipperary', 'Competitive', datetime.date(2024, 1, 26), 666, 888, 'Morgan McKinley', 'Contract')
(15, 'Automation Engineer', 'Dublin', 'Competitive', datetime.date(2024, 1, 18), 666, 888, 'Morgan McKinley', 'Contract')
(16, 'QA Validation Specialist', 'Cork', '€30 - €40 ph', datetime.date(2024, 1, 23), 666, 888, 'Morgan McKinley', 'Contract')
(17, 'QA Lead for CSV Projecy', 'Cork City', 'Competitive', datetime.date(2024, 2, 12), 666, 888, 'Morgan McKinley', 'Contract')
(18, 'Project QA CSV Engineer', 'Cork', 'Competitive', datetime.date(2023, 12, 19), 666, 888, 'Morgan McKinley', 'Contract')
(19, 'Electrical Engineer', 'Dublin City Centre', '€50k - €70k', datetime.date(2024, 2, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(20, 'Senior CSV Consultant', 'Cork', '€60 - €70 ph', datetime.date(2023, 12, 21), 666, 888, 'Morgan McKinley', 'Contract')
(21, 'IT Dev Support Engineer', 'Dublin', 'Competitive', datetime.date(2024, 1, 29), 666, 777, 'Morgan McKinley', 'Permanent')
(22, 'Systems Administrator (12 month Contract)', 'Roscommon', 'Competitive', datetime.date(2024, 1, 5), 666, 888, 'Morgan McKinley', 'Contract')
(23, 'Computer Systems Validation Engineer', 'Cork City', 'Competitive', datetime.date(2024, 2, 12), 666, 888, 'Morgan McKinley', 'Contract')
(24, 'Inhouse (Pharmaceuticals) Company Secretary - Paralegal', 'Dublin', 'Competitive', datetime.date(2024, 2, 3), 666, 777, 'Morgan McKinley', 'Permanent')
(25, 'QC Biochemist', 'Wicklow', 'Competitive', datetime.date(2024, 1, 16), 666, 888, 'Morgan McKinley', 'Contract')
(26, 'Quality Control Analyst', 'Dublin', 'Competitive', datetime.date(2023, 12, 22), 666, 888, 'Morgan McKinley', 'Contract')
(27, 'Development Analyst', 'Dublin North', 'Competitive', datetime.date(2024, 1, 24), 666, 777, 'Morgan McKinley', 'Permanent')
(28, 'Senior Quality Specialist - Biotech', 'Limerick', '€50k - €70k', datetime.date(2024, 1, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(29, 'Senior Software Developer', 'Cork City', 'Competitive', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(30, 'LIMS Developer', 'Limerick', 'Competitive', datetime.date(2024, 1, 10), 666, 888, 'Morgan McKinley', 'Contract')
(31, 'Scientific Cleaning Validation Engineer', 'Limerick', 'Competitive', datetime.date(2024, 2, 12), 666, 888, 'Morgan McKinley', 'Contract')
(32, 'Production Biochemist', 'Wicklow', 'Competitive', datetime.date(2024, 1, 16), 666, 888, 'Morgan McKinley', 'Contract')
(33, 'Cleaning Validation Specialist', 'Limerick', 'Competitive', datetime.date(2024, 1, 10), 666, 888, 'Morgan McKinley', 'Contract')
(34, 'Document Controller (Specialist)', 'Cork', '€40k - €50k', datetime.date(2024, 2, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(35, 'Finance Transformation Project Manager', 'Dublin West', '€70k - €90k', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(36, 'Document Controller Specialist', 'Cork', '€40k - €50k', datetime.date(2024, 1, 5), 666, 777, 'Morgan McKinley', 'Permanent')
(37, 'QA Auditor', 'Dublin', 'Competitive', datetime.date(2024, 1, 29), 666, 777, 'Morgan McKinley', 'Permanent')
(38, 'Senior QC Anlayst', 'Cork', 'Competitive', datetime.date(2024, 1, 19), 666, 777, 'Morgan McKinley', 'Permanent')
(39, 'Production Lab Technician', 'Wicklow', 'Competitive', datetime.date(2024, 1, 16), 666, 888, 'Morgan McKinley', 'Contract')
(40, 'QC Senior Specialist (Continuous Improvement Projects)', 'Dublin North', 'Competitive', datetime.date(2024, 1, 26), 666, 888, 'Morgan McKinley', 'Contract')
(41, 'Quality Specialist', 'Waterford', 'Competitive', datetime.date(2023, 12, 19), 666, 888, 'Morgan McKinley', 'Contract')
(42, 'Quality Specialist', 'Cork', 'Competitive', datetime.date(2023, 12, 19), 666, 888, 'Morgan McKinley', 'Contract')
(43, 'Product Quality Assurance Engineer', 'Swords', 'Competitive', datetime.date(2024, 1, 15), 666, 777, 'Morgan McKinley', 'Permanent')
(44, 'Quality Assurance Specialist - External Manufacturing', 'Cork', 'Competitive', datetime.date(2024, 1, 15), 666, 777, 'Morgan McKinley', 'Permanent')
(45, 'Regional Sales Manager Europe', 'Dublin', 'Competitive', datetime.date(2024, 1, 25), 666, 777, 'Morgan McKinley', 'Permanent')
(46, 'Regional Sales Manager', 'Cork', 'Competitive', datetime.date(2024, 1, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(47, 'NPD Manager (Food)', 'Kildare', 'Competitive', datetime.date(2024, 2, 6), 666, 777, 'Morgan McKinley', 'Permanent')
(48, 'Systems Coordinator', 'Limerick', 'Competitive', datetime.date(2023, 12, 19), 666, 888, 'Morgan McKinley', 'Contract')
(49, 'Production Manager', 'Cork', 'Competitive', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(50, 'Production Supervisor', 'Cork', 'Competitive', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(51, 'QA Specialist (Shift)', 'Dublin South', '€30 - €40 ph', datetime.date(2024, 1, 16), 666, 888, 'Morgan McKinley', 'Contract')
(52, 'Quality Validation Specialist', 'Cork', 'Competitive', datetime.date(2024, 1, 18), 666, 777, 'Morgan McKinley', 'Permanent')
(53, 'DevOps Engineer (Contract)', 'Cork', 'Competitive', datetime.date(2024, 1, 25), 666, 888, 'Morgan McKinley', 'Contract')
(54, 'Business Development Manager', 'Clare', '€70k - €90k', datetime.date(2024, 2, 2), 666, 777, 'Morgan McKinley', 'Permanent')
(55, 'NPD Technician (Entry Level)', 'Kildare', 'Competitive', datetime.date(2024, 2, 6), 666, 777, 'Morgan McKinley', 'Permanent')
(56, 'Technical Support Engineer (6 Month Contract)', 'Cork City', 'Competitive', datetime.date(2024, 1, 11), 666, 888, 'Morgan McKinley', 'Contract')
(57, 'Quality Lead', 'Drogheda', 'Competitive', datetime.date(2024, 1, 8), 666, 777, 'Morgan McKinley', 'Permanent')
(58, 'QA Test Engineer', 'Dublin', '€450 - €500 pd', datetime.date(2023, 12, 20), 666, 777, 'Morgan McKinley', 'Permanent')
(59, 'Production Services Lead', 'Dublin', '€450 - €500 pd', datetime.date(2024, 1, 24), 666, 777, 'Morgan McKinley', 'Permanent')
(60, 'Senior System Analyst - Dublin', 'Dublin', '€70k - €90k', datetime.date(2024, 1, 16), 666, 777, 'Morgan McKinley', 'Permanent')
(61, 'EHS Specialist - Contract', 'Limerick', 'Competitive', datetime.date(2024, 1, 11), 666, 888, 'Morgan McKinley', 'Contract')
(62, 'Agri Sales Lead', 'Cork', '€40k - €50k', datetime.date(2024, 1, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(63, 'Quality Technician - Food', 'Kildare', 'Competitive', datetime.date(2024, 1, 4), 666, 777, 'Morgan McKinley', 'Permanent')
(64, 'Quality Compliance Manager', 'Dublin', 'Competitive', datetime.date(2024, 1, 18), 666, 777, 'Morgan McKinley', 'Permanent')
(65, 'ERP Systems Manager (JD Edwards)', 'Dublin', '€90k - €120k', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(66, 'CSV Engineer - Remediation', 'Cork City', 'Competitive', datetime.date(2023, 12, 18), 666, 888, 'Morgan McKinley', 'Contract')
(67, 'Client Relationship Manager', 'Cork City', 'Competitive', datetime.date(2024, 1, 15), 666, 777, 'Morgan McKinley', 'Permanent')
(68, 'Associate Director Quality Assurance - Biotech', 'Limerick', 'Competitive', datetime.date(2024, 1, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(69, 'Red Team Analyst', 'Éire', '€50k - €70k', datetime.date(2024, 1, 23), 666, 777, 'Morgan McKinley', 'Permanent')
(70, 'Senior Strategic Partner Manager - Banking', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(71, 'Information Technology System Administrator', 'Athlone', 'Competitive', datetime.date(2024, 1, 17), 666, 888, 'Morgan McKinley', 'Contract')
(72, 'QA Specialist', 'Dublin', 'Competitive', datetime.date(2024, 1, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(73, 'Senior Quality Engineer', 'Dublin', 'Competitive', datetime.date(2023, 12, 18), 666, 777, 'Morgan McKinley', 'Permanent')
(74, 'Validation Engineer', 'Dublin', 'Competitive', datetime.date(2024, 1, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(75, 'QA Supervisor - Part time weekends', 'Kildare', 'Competitive', datetime.date(2024, 1, 4), 666, 777, 'Morgan McKinley', 'Permanent')
(76, 'Food Safety & Quality Manager', 'Dublin', 'Competitive', datetime.date(2024, 2, 8), 666, 777, 'Morgan McKinley', 'Permanent')
(77, 'Environmental Health & Safety Specialist', 'Cork City', 'Competitive', datetime.date(2024, 1, 25), 666, 777, 'Morgan McKinley', 'Permanent')
(78, 'Senior M&E Quantity Surveyor', 'Cork', '€90k - €120k', datetime.date(2024, 1, 16), 666, 777, 'Morgan McKinley', 'Permanent')
(79, 'Senior Grid Engineer - Renewables', 'Cork', 'Competitive', datetime.date(2024, 1, 5), 666, 777, 'Morgan McKinley', 'Permanent')
(80, 'Manufacturing Engineer', 'Cork', 'Competitive', datetime.date(2024, 1, 2), 666, 777, 'Morgan McKinley', 'Permanent')
(81, 'Compliance Specialist', 'Limerick', 'Competitive', datetime.date(2023, 12, 19), 666, 888, 'Morgan McKinley', 'Contract')
(82, 'Quality Technician', 'Tipperary', 'Competitive', datetime.date(2024, 2, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(83, 'QC Manager (Food)', 'Cavan', 'Competitive', datetime.date(2024, 1, 10), 666, 777, 'Morgan McKinley', 'Permanent')
(84, 'Business Development Executive - Food and Chemicals', 'Munster', 'Competitive', datetime.date(2024, 1, 8), 666, 777, 'Morgan McKinley', 'Permanent')
(85, 'Quality Team Lead - Medical Device', 'Cork', 'Competitive', datetime.date(2024, 1, 25), 666, 777, 'Morgan McKinley', 'Permanent')
(86, 'Operations and Office Manager', 'Dublin', 'Competitive', datetime.date(2024, 1, 24), 666, 777, 'Morgan McKinley', 'Permanent')
(87, 'NPD Manager (Food)', 'Tipperary', 'Competitive', datetime.date(2024, 1, 15), 666, 777, 'Morgan McKinley', 'Permanent')
(88, 'Quality Manager - Medical Devices', 'Limerick', '€70k - €90k', datetime.date(2024, 1, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(89, 'Senior Sofware Engenieer Manager', 'Swords', 'Competitive', datetime.date(2024, 2, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(90, 'Senior Software Engineering Manager', 'Swords', 'Competitive', datetime.date(2024, 2, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(91, 'HANA Developer', 'Munster', 'Competitive', datetime.date(2024, 1, 5), 666, 888, 'Morgan McKinley', 'Contract')
(92, 'Digital Support Analyst', 'Dublin South', 'Competitive', datetime.date(2024, 1, 24), 666, 888, 'Morgan McKinley', 'Contract')
(93, 'Aftersales Analytics Associate', 'Dublin', 'Competitive', datetime.date(2024, 1, 26), 666, 888, 'Morgan McKinley', 'Contract')
(94, 'AR Specialist - Entry Level', 'Cork City', 'Competitive', datetime.date(2023, 12, 20), 666, 777, 'Morgan McKinley', 'Permanent')
(95, 'Chief Revenue Officer - Fintech & Payments', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(96, 'Chief Revenue Officer - Payments', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(97, 'HR Administrator', 'Dublin South', '€30k - €40k', datetime.date(2024, 1, 12), 666, 888, 'Morgan McKinley', 'Contract')
(98, 'Group Privacy Officer', 'Dublin', 'Competitive', datetime.date(2024, 1, 23), 666, 777, 'Morgan McKinley', 'Permanent')
(99, 'R&D AI - ML Software Engineer', 'Swords', 'Competitive', datetime.date(2024, 1, 2), 666, 777, 'Morgan McKinley', 'Permanent')
(100, 'Senior Bi Developer', 'Cork', 'Competitive', datetime.date(2023, 12, 15), 666, 777, 'Morgan McKinley', 'Permanent')
(101, 'Assistant Accountant - Hybrid - Cavan', 'Cavan', '€40k - €50k', datetime.date(2024, 1, 17), 666, 888, 'Morgan McKinley', 'Contract')
(102, 'Procurement and Compliance Assistant', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 11), 666, 888, 'Morgan McKinley', 'Contract')
(103, 'Clerical Officer', 'Wexford', 'Competitive', datetime.date(2024, 1, 16), 666, 999, 'Morgan McKinley', 'Temporary')
(104, 'Administrator', 'Limerick', 'Competitive', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(105, 'Indirect Procurement Analyst', 'Dublin', 'Competitive', datetime.date(2024, 1, 5), 666, 777, 'Morgan McKinley', 'Permanent')
(106, 'Graphic Designer', 'Dublin South', 'Competitive', datetime.date(2024, 1, 12), 666, 888, 'Morgan McKinley', 'Contract')
(107, 'Temporary Payroll Processor', 'Cork', 'Competitive', datetime.date(2024, 2, 13), 666, 999, 'Morgan McKinley', 'Temporary')
(108, 'Market Researcher (German or Dutch)', 'Galway', '€30k - €40k', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(109, 'Supply Chain Manager', 'Cavan', 'Competitive', datetime.date(2024, 1, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(110, 'Lab Systems Analyst', 'Dublin North', 'Competitive', datetime.date(2023, 12, 20), 666, 888, 'Morgan McKinley', 'Contract')
(111, 'API Support Engineer', 'Dublin', 'Competitive', datetime.date(2024, 1, 29), 666, 888, 'Morgan McKinley', 'Contract')
(112, 'Finance Transformation Manager', 'Dublin', 'Competitive', datetime.date(2024, 1, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(113, 'IT Support Technician (Part-time)', 'Dublin', 'Competitive', datetime.date(2024, 1, 18), 666, 888, 'Morgan McKinley', 'Contract')
(114, 'Senior Quality Specialist - Biologics', 'Cork', 'Competitive', datetime.date(2023, 12, 17), 666, 777, 'Morgan McKinley', 'Permanent')
(115, 'UX Researcher', 'Dublin West', '€40k - €50k', datetime.date(2023, 12, 20), 666, 777, 'Morgan McKinley', 'Permanent')
(116, 'Business Analyst - Transport Management', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 16), 666, 777, 'Morgan McKinley', 'Permanent')
(117, 'Supply Chain Co-ordinator', 'Dublin', 'Competitive', datetime.date(2024, 1, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(118, 'Customer Service Manager', 'Sligo', '€50k - €70k', datetime.date(2023, 12, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(119, 'HANA Developer', 'Cork', 'Competitive', datetime.date(2024, 1, 4), 666, 888, 'Morgan McKinley', 'Contract')
(120, 'Procurement Manager', 'Dublin', 'Competitive', datetime.date(2024, 1, 23), 666, 777, 'Morgan McKinley', 'Permanent')
(121, 'Customer Administrator (Motor Industry)', 'Dublin City Centre', 'Competitive', datetime.date(2024, 2, 6), 666, 777, 'Morgan McKinley', 'Permanent')
(122, 'Warehouse Industrial Engineer', 'Dublin', '€50k - €70k', datetime.date(2024, 1, 15), 666, 777, 'Morgan McKinley', 'Permanent')
(123, 'Business Analyst', 'Cork', 'Competitive', datetime.date(2023, 12, 20), 666, 888, 'Morgan McKinley', 'Contract')
(124, 'Assistant Brand Manager', 'Cork', 'Competitive', datetime.date(2024, 2, 7), 666, 777, 'Morgan McKinley', 'Permanent')
(125, 'Energy Engineering Manager', 'Wicklow', 'Competitive', datetime.date(2024, 1, 26), 666, 777, 'Morgan McKinley', 'Permanent')
(126, 'Scrum Master - Product Owner', 'Munster', 'Competitive', datetime.date(2024, 1, 11), 666, 888, 'Morgan McKinley', 'Contract')
(127, 'Accountant', 'Shannon', 'Competitive', datetime.date(2024, 1, 4), 666, 999, 'Morgan McKinley', 'Temporary')
(128, 'Architect Manager', 'Dublin City Centre', '€70k - €90k', datetime.date(2024, 2, 6), 666, 777, 'Morgan McKinley', 'Permanent')
(129, 'Planner', 'Cork', 'Competitive', datetime.date(2024, 1, 22), 666, 777, 'Morgan McKinley', 'Permanent')
(130, 'Electrical Estimator', 'Cork City', '€50k - €70k', datetime.date(2024, 1, 16), 666, 777, 'Morgan McKinley', 'Permanent')
(131, 'Planner - Scheduler (12 Month Contract)', 'Mayo', 'Competitive', datetime.date(2024, 2, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(132, 'Fund Accountant', 'Dublin', 'Competitive', datetime.date(2024, 1, 25), 666, 777, 'Morgan McKinley', 'Permanent')
(133, 'Newly Qualified Solicitor', 'Dublin', 'Competitive', datetime.date(2023, 12, 18), 666, 777, 'Morgan McKinley', 'Permanent')
(134, 'Director of Corporate Services - Hybrid - Research & Education', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 18), 666, 777, 'Morgan McKinley', 'Permanent')
(135, 'Lead Business Analyst - Healthcare', 'Cork', 'Competitive', datetime.date(2024, 1, 16), 666, 777, 'Morgan McKinley', 'Permanent')
(136, 'Assistant Lending Manager', 'Dublin', 'Competitive', datetime.date(2024, 1, 9), 666, 777, 'Morgan McKinley', 'Permanent')
(137, 'Senior Associate - Internal Audit', 'Dublin', '€50k - €70k', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(138, 'Regional Operations Specialist - French & Arabic Speaking', 'Dublin North', '€50k - €70k', datetime.date(2024, 1, 24), 666, 777, 'Morgan McKinley', 'Permanent')
(139, 'Internal Audit Senior Associate - Associate', 'Dublin City Centre', '€50k - €70k', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(140, 'Finance Transformation Analyst', 'Dublin', '€50k - €70k', datetime.date(2024, 1, 11), 666, 777, 'Morgan McKinley', 'Permanent')
(141, 'Accountant - West Cork', 'Cork', 'Competitive', datetime.date(2024, 1, 12), 666, 888, 'Morgan McKinley', 'Contract')
(142, 'Senior Accounts Payable Analyst- Pharma', 'Dublin South', '€40k - €50k', datetime.date(2024, 1, 12), 666, 777, 'Morgan McKinley', 'Permanent')
(143, 'Senior Reconciliation Analyst - Investment Management', 'Dublin', 'Competitive', datetime.date(2024, 1, 17), 666, 777, 'Morgan McKinley', 'Permanent')
(144, 'Legal Secretary (Litigation)', 'Dublin City Centre', 'Competitive', datetime.date(2024, 1, 30), 666, 777, 'Morgan McKinley', 'Permanent')
(145, 'Clerical Officer (Assisting Payroll)', 'Cork City', '€20k\u200b - €30k', datetime.date(2024, 1, 4), 666, 999, 'Morgan McKinley', 'Temporary')
(146, 'Temporary Payroll Specialist', 'Dublin', 'Competitive', datetime.date(2024, 1, 15), 666, 999, 'Morgan McKinley', 'Temporary')
(147, 'Clerical Officer', 'Kerry', '€10 - €15 ph', datetime.date(2023, 12, 21), 666, 888, 'Morgan McKinley', 'Contract')
(148, 'Financial Accountant', 'Dublin West', 'Competitive', datetime.date(2024, 1, 31), 666, 777, 'Morgan McKinley', 'Permanent')
(149, 'AutoCad Technician - Cork', 'Cork', '€40k - €50k', datetime.date(2024, 1, 10), 666, 777, 'Morgan McKinley', 'Permanent')
(150, 'Head of Transport', 'Tipperary', 'Competitive', datetime.date(2024, 2, 6), 666, 777, 'Morgan McKinley', 'Permanent')